* {
    position: relative;
    font-family: 'Carbona Test', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

#perfil  .contingut {
    overflow: hidden;
}

#perfil .topbar {
    width: 430px;
    height: 50px;
    background: #282864;
    position: fixed;
    z-index: 10;
}

#perfil .topbar p {
    color: white;
    font-size: 0.938rem;
    top: 2px;
    left: 15px;
}

#perfil .topbar .configuracio {
    width: 34px;
    height: 36px;
    background-image: url(../img/configuració.png);
    background-size: 100%;
    top: -40px;
    left: 389px;
}

.contingut {
    height: 1200px;
}

#perfil .perfilnou {
    margin-top: 77px;
    margin-left: 12px;
}

#perfil .fotoprev {
    width: 92px;
    height: 92px;
    background-image: url(../img/fotopreview.png);
    background-size: 100%;
}

#perfil .perfilnou h3 {
    top: -96px;
    left: 105px;
    font-size: 1.313rem;
    color: #282864;
}

#perfil .perfilnou p {
    font-size: 0.938rem;
    color: #282864;
    opacity: 30%;
    top: -116px;
    left: 116px;
}

#perfil .perfilnou h4 {
    width: 248px;
    font-size: 0.938rem;
    color: #282864;
    top: -135px;
    left: 116px;
    font-weight: 400;
}

#perfil .seguidors {
    width: 80px;
    height: 60px;
    margin-top: -136px;
    margin-left: 12px;
}

#perfil .seguidors h1 {
    font-size: 0.938rem;
    color: #282864;
    left: 26px;
}

#perfil .seguidors h2 {
    font-size: 0.938rem;
    top: -14px;
    color: #282864;
}

#perfil .seguits {
    width: 80px;
    height: 60px;
    margin-top: -65px;
    left: 175px;
}

#perfil .seguits h1 {
    font-size: 0.938rem;
    left: 16.5px;
    color: #282864;
    top: -3px;
}

#perfil .seguits h2 {
    font-size: 0.938rem;
    top: -20px;
    color: #282864;
}

#perfil .agrada {
    width: 80px;
    height: 60px;
    margin-top: -70px;
    margin-left: 327px;
}

#perfil .agrada h1 {
    font-size: 0.938rem;
    top: -3px;
    left: 21.5px;
    color: #282864;
}

#perfil .agrada h2 {
    font-size: 0.938rem;
    top: -20px;
    color: #282864;
}

#perfil .editar {
    width: 100px;
    height: 30px;
    background: #00C8A0;
    border-radius: 4px;
    top: -6px;
    margin-left: 252px;
}

#perfil .editar p {
    color: white;
    font-size: 0.938rem;
    text-align: center;
    line-height: 2rem;
    margin-top: 5px;
}

#perfil .accions {
    width: 35px;
    height: 30px;
    background: #00C8A0;
    border-radius: 4px;
    margin-top: -41px;
    margin-left: 362px;
}

#perfil .accions p {
    color: white;
    font-size: 0.938rem;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 5px;
}

#perfil .perfilinteract {
    width: 390px;
    height: 400px;
    top: 5px;
}

#perfil .publicacions {
    width: 100px;
    height: 30px;
    margin-left: 17px;
    background: #282864;
    border-radius: 4px;
}

#perfil .publicacions p {
    color: white;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
    top: 1px;
}

#perfil .llistes {
    width: 58px;
    height: 30px;
    margin-left: 132px;
    border-radius: 4px;
    margin-top: -44px;
}

#perfil .llistes p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
    top: 1px;
}

#perfil .coleccions {
    width: 93px;
    height: 30px;
    margin-left: 202px;
    border-radius: 4px;
    margin-top: -43px;
}

#perfil .coleccions p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil .favorits {
    width: 93px;
    height: 30px;
    margin-left: 297px;
    border-radius: 4px;
    margin-top: -44.6px;
}

#perfil .favorits p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil hr {
    border-top: 1px solid #282864;
    border-bottom: 0;
    width: 400px;
    margin-left: 7px;
    margin-top: 0px;
}

.posts {
    width: 390px;
    height: 800px;
    background: red;
    left: 12.5px;
    top: 10px;
}

.post1 {
    width: 186px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_1.jpeg);
    background-size: cover;
}

.titolpubli {
    width: 160px;
    height: 30px;
    background: #282864;
    border-radius: 18px 0 13px 0;
}

.categoria1 {
    width: 21px;
    height: 17px;
    background-image: url(../img/icon_v.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6.5px;
    left: 13px;
}

.post1 p {
    margin-left: 41px;
    margin-top: -9px;
    color: white;
    font-size: 0.75rem;
}

.post2 {
    width: 186px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_2.jpg);
    background-size: cover;
    margin-top: -186px;
    margin-left: 204px;
}

.post2 .titolpubli {
    width: 160px;
    height: 30px;
    background: #00C8FF;
    border-radius: 18px 0 13px 0;
}

.categoria3 {
    width: 18px;
    height: 20px;
    background-image: url(../img/icon_t.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6px;
    left: 13px;
}

.post2 p {
    width: 400px;
    margin-left: 41px;
    margin-top: -11px;
    color: white;
    font-size: 0.75rem;
}

.post3 {
    width: 390px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_3.jpg);
    background-size: cover;
    top: 19px;
}

.post3 .titolpubli {
    width: 160px;
    height: 30px;
    background: #F03C82;
    border-radius: 18px 0 13px 0;
}

.categoria2 {
    width: 18px;
    height: 20px;
    background-image: url(../img/icon_s.png);
    background-size: 85%;
    background-repeat: no-repeat;
    top: 5px;
    left: 13px;
}

.post3 p {
    width: 400px;
    margin-left: 41px;
    margin-top: -11px;
    color: white;
    font-size: 0.75rem;
}

.post4 {
    width: 186px;
    height: 390px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_4.jpeg);
    background-size: cover;
    background-position: center;
    top: 37px;
}

.post4 .titolpubli {
    width: 160px;
    height: 30px;
    background: #F03C82;
    border-radius: 18px 0 13px 0;
}

.post4 p {
    width: 400px;
    margin-left: 41px;
    margin-top: -11px;
    color: white;
    font-size: 0.75rem;
}

.post3 img {
    width: 93px;
    height: 93px;
    top: 20px;
    left: 150px;
}