* {
    position: relative;
    font-family: 'Carbona Test', sans-serif;
}

#perfil  .contingut {
    width: 100%;
    overflow: hidden;
}

#perfil .topbar {
    width: 430px;
    height: 50px;
    background: #282864;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

#perfil .topbar p {
    color: white;
    font-size: 0.938rem;
    top: 2px;
    left: 15px;
}

#perfil .topbar .configuracio {
    width: 34px;
    height: 36px;
    background-image: url(../img/configuració.png);
    background-size: 100%;
    top: -40px;
    left: 389px;
}

#perfil .contingut {
    height: 1450px;
}

#perfil .perfilnou {
    margin-top: 77px;
    margin-left: 12px;
}

#perfil .fotoprev {
    width: 92px;
    height: 92px;
    background-image: url(../img/fotopreview.png);
    background-size: 100%;
}

#perfil .perfilnou h3 {
    top: -96px;
    left: 105px;
    font-size: 1.313rem;
    color: #282864;
}

#perfil .perfilnou p {
    font-size: 0.938rem;
    color: #282864;
    opacity: 30%;
    top: -116px;
    left: 116px;
}

#perfil .perfilnou h4 {
    width: 248px;
    font-size: 0.938rem;
    color: #282864;
    top: -135px;
    left: 116px;
    font-weight: 400;
}

#perfil .seguidors {
    width: 80px;
    height: 60px;
    margin-top: -136px;
    margin-left: 12px;
}

#perfil .seguidors h1 {
    font-size: 0.938rem;
    color: #282864;
    left: 26px;
}

#perfil .seguidors h2 {
    font-size: 0.938rem;
    top: -14px;
    color: #282864;
}

#perfil .seguits {
    width: 80px;
    height: 60px;
    margin-top: -65px;
    left: 175px;
}

#perfil .seguits h1 {
    font-size: 0.938rem;
    left: 16.5px;
    color: #282864;
    top: -3px;
}

#perfil .seguits h2 {
    font-size: 0.938rem;
    top: -20px;
    color: #282864;
}

#perfil .agrada {
    width: 80px;
    height: 60px;
    margin-top: -70px;
    margin-left: 327px;
}

#perfil .agrada h1 {
    font-size: 0.938rem;
    top: -3px;
    left: 21.5px;
    color: #282864;
}

#perfil .agrada h2 {
    font-size: 0.938rem;
    top: -20px;
    color: #282864;
}

#perfil .editar {
    width: 100px;
    height: 30px;
    background: #00C8A0;
    border-radius: 4px;
    top: -6px;
    margin-left: 252px;
}

#perfil .editar p {
    color: white;
    font-size: 0.938rem;
    text-align: center;
    line-height: 2rem;
    margin-top: 5px;
}

#perfil .accions {
    width: 35px;
    height: 30px;
    background: #00C8A0;
    border-radius: 4px;
    margin-top: -41px;
    margin-left: 362px;
}

#perfil .accions p {
    color: white;
    font-size: 0.938rem;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 5px;
}

#perfil .perfilinteract {
    width: 390px;
    height: 400px;
    top: 5px;
}

#perfil .publicacions {
    width: 100px;
    height: 30px;
    margin-left: 17px;
    background: #282864;
    border-radius: 4px;
}

#perfil .publicacions p {
    color: white;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
    top: 1px;
}

#perfil .llistes {
    width: 58px;
    height: 30px;
    margin-left: 132px;
    border-radius: 4px;
    margin-top: -44px;
}

#perfil .llistes p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
    top: 1px;
}

#perfil .coleccions {
    width: 93px;
    height: 30px;
    margin-left: 202px;
    border-radius: 4px;
    margin-top: -43px;
}

#perfil .coleccions p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil .favorits {
    width: 93px;
    height: 30px;
    margin-left: 297px;
    border-radius: 4px;
    margin-top: -44.6px;
}

#perfil .favorits p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil hr {
    border-top: 1px solid #282864;
    border-bottom: 0;
    width: 400px;
    margin-left: 7px;
    margin-top: -1px;
}

#perfil .posts {
    width: 390px;
    height: 1007px;
    left: 12.5px;
    top: 10px;
}

#perfil .post1 {
    width: 186px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_1.jpeg);
    background-size: cover;
}

#perfil .titolpubli {
    width: 160px;
    height: 30px;
    background: #282864;
    border-radius: 18px 0 13px 0;
}

#perfil .categoria1 {
    width: 21px;
    height: 17px;
    background-image: url(../img/icon_v.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6.5px;
    left: 13px;
}

#perfil .post1 p {
    margin-left: 41px;
    margin-top: -9px;
    color: white;
    font-size: 0.75rem;
}

#perfil .post2 {
    width: 186px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_2.jpg);
    background-size: cover;
    margin-top: -186px;
    margin-left: 204px;
}

#perfil .post2 .titolpubli {
    width: 160px;
    height: 30px;
    background: #00C8FF;
    border-radius: 18px 0 13px 0;
}

#perfil .categoria3 {
    width: 18px;
    height: 20px;
    background-image: url(../img/icon_t.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6px;
    left: 13px;
}

#perfil .post2 p {
    width: 400px;
    margin-left: 41px;
    margin-top: -11px;
    color: white;
    font-size: 0.75rem;
}

#perfil .post3 {
    width: 390px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_3.jpg);
    background-size: cover;
    top: 19px;
}

#perfil .post3 .titolpubli {
    width: 160px;
    height: 30px;
    background: #F03C82;
    border-radius: 18px 0 13px 0;
}

#perfil .categoria2 {
    width: 18px;
    height: 20px;
    background-image: url(../img/icon_s.png);
    background-size: 85%;
    background-repeat: no-repeat;
    top: 5px;
    left: 13px;
}

#perfil .post3 p {
    width: 400px;
    margin-left: 41px;
    margin-top: -11px;
    color: white;
    font-size: 0.75rem;
}

#perfil .post3 img {
    width: 93px;
    height: 93px;
    top: 20px;
    left: 150px;
}

#perfil .post4 {
    width: 186px;
    height: 390px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_4.jpeg);
    background-size: cover;
    background-position: center;
    top: 39px;
}

#perfil .post4 .titolpubli {
    width: 160px;
    height: 30px;
    background: #F03C82;
    border-radius: 18px 0 13px 0;
}

#perfil .post4 p {
    width: 400px;
    margin-left: 41px;
    margin-top: -11.5px;
    color: white;
    font-size: 0.75rem;
}

#perfil .post4 img {
    width: 93px;
    height: 93px;
    top: 110px;
    left: 50px;
}

#perfil .post5 {
    width: 186px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_5.jpeg);
    background-size: cover;
    background-position: center;
    top: -351px;
    left: 204px;
}

#perfil .post5 .titolpubli {
    width: 160px;
    height: 30px;
    background: #00C8A0;
    border-radius: 18px 0 13px 0;
}

#perfil .post5 .categoria4 {
    width: 21px;
    height: 17px;
    background-image: url(../img/icon_g.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 7.5px;
    left: 13px;
}

#perfil .post5 p {
    margin-left: 41px;
    margin-top: -8.5px;
    color: white;
    font-size: 0.75rem;
}

#perfil .post6 {
    width: 186px;
    height: 390px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_6.jpeg);
    background-size: cover;
    top: -331px;
    left: 204px;
}

#perfil .post6 .titolpubli {
    width: 160px;
    height: 30px;
    background: #282864;
    border-radius: 18px 0 13px 0;
}

#perfil .post6 .categoria1 {
    width: 21px;
    height: 17px;
    background-image: url(../img/icon_v.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6.5px;
    left: 13px;
}

#perfil .post6 p {
    margin-left: 41px;
    margin-top: -9px;
    color: white;
    font-size: 0.75rem;
}

#perfil .post7 {
    width: 186px;
    height: 186px;
    border-radius: 18px;
    background-image: url(../img/Posts_perfil/post_7.jpeg);
    background-size: cover;
    top: -517px;
}

#perfil .post7 .titolpubli {
    width: 160px;
    height: 30px;
    background: #282864;
    border-radius: 18px 0 13px 0;
}

#perfil .post7 .categoria1 {
    width: 21px;
    height: 17px;
    background-image: url(../img/icon_v.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 6.5px;
    left: 13px;
}

#perfil .post7 p {
    margin-left: 41px;
    margin-top: -9px;
    color: white;
    font-size: 0.75rem;
}

#perfil .botbar {
    position: fixed;
    height: 60px;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: 100%;
}
  
#perfil .icona {
    width: 7vw;
    height: 7vw;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    background-position: center;
    margin: 5.3vw 6.5vw 0 6.5vw;
}

#perfil .PaginaPerfil {
    background-image: url(../img/Botbar/Botbar_Perfil.png);
}

#perfil .home {
    background-image: url(../img/Icones/Icona_Home.png);
}

#perfil .reptes {
    background-image: url(../img/Icones/Icona_Reptes.png);
}

#perfil .invisible {
    background: transparent;
}

#perfil .comunitat {
    background-image: url(../img/Icones/Icona_Comunitat.png);
}

#perfil .perfilClicada {
    background-image: url(../img/Icones/Clicades/Icona_Perfil_Clicada.png);
    margin-top: 14px;
    left: 0px;
} 

/* -------------- publicar ---------------- */

#perfil .publicar {
    position: relative;
    top: -10.3vw;
    left: -30%;
    transform: translateX(-50%);
    width: 7vw;
    height: 7vw;
    background-image: url(../img/Icones/Icona_Publicar.png);
    background-position: center;
    z-index: 99999999999999999999;
    margin: 4vw -15px;
    transform: scale(140%);
    transform-origin: center;
}

#perfil input[type=checkbox]{
    visibility:hidden;
}
  
#perfil #alternador{
    z-index: -9999999;
}
  
#perfil #alternador label{
    width:7vw;
    height:7vw;
    border-radius:0.5rem;
    transition:all .5s ease;
    cursor:pointer;
    opacity:1;
}
  
#perfil #alternador input[type=checkbox]:checked+label{
    opacity:1;
}
  
#perfil #alternador input[type=checkbox]:checked+label~.quadreElegir{
    left:0rem;
}

#perfil .quadreElegir {
    width: 100%;
    height: 900px;
    margin: 0px;
    position: absolute;
    left:-500px;
    top: -800px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

#perfil .Opcions {
    width: 91%;
    height: 160px;
    background-color: #282C63;
    border-radius: 25px;
    margin: 0 auto;
    position: absolute;
    top: 560px;
    left: 20px;
}

#perfil .Tancar {
    width: 15px;
    height: 15px;
    background-image: url(../img/Publicar_Publicacio/Icona_Creu_Blanca.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 15px;
}

#perfil .Opcions p {
    margin-top: 0px;
    color: white;
    font-size: 1.30rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Carbona Test', sans-serif;
}

#perfil .Apartats {
    width: 30%;
    height: 120px;
    text-align: center;
    float: left;
    margin-left: 9.86%;
    margin-right: 9.86%;
}

#perfil .Individual {
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

#perfil .Grupal {
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

#perfil .Individual img {
    margin-top: 6px;
    width: 70%;
    height: 90%;
    text-align: center;
}

#perfil .Grupal img {
    margin-top: 8px;
    width: 100%;
    height: 90%;
    position: center;
}

#perfil .Icona {
    width: 64px;
    height: 64px;
    margin-bottom: 3px;
    margin: 0 auto;
    border-radius: 100%;
    text-align: center;
}

#configuracio html {
    width: 430px;
}

#configuracio {
    width: 430px;
    overflow-x: hidden;
}

#configuracio .tornar {
    width: 41px;
    height: 25px;
    background-image: url(../img/retorn.png);
    background-size: 75%;
    background-repeat: no-repeat;
    top: 10px;
    margin-left: 10px;
    opacity: 80%;
}

#configuracio h1 {
    font-size: 1.25rem;
    top: -30px;
    margin-left: 65px;
    color: #282864;
}

#configuracio .buscador {
    margin-left: 15px;
    top: -20px;
}

#configuracio input {
    width: 390px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background: #E4E4EC;
}

#configuracio input::placeholder {
    font-size: 1rem;
    opacity: 50%;
    color: #282864;
    padding-left: 10px;
}

#configuracio .iconaBuscar {
    width: 16px;
    height: 16px;
    background-image: url(../img/buscador.png);
}

#configuracio .elementsConf {
    width: 390px;
    height: 1450px;
    margin: 0 auto;
}

#configuracio .compte {
    height: 102px;
}

#configuracio p {
    font-size: 0.875rem;
    color: #282864;
    opacity: 70%;
}

#configuracio .iconaCompte {
    width: 32px;
    height: 32px;
    background-image: url(../img/Configuració/centre_comptes.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio h2 {
    font-size: 1rem;
    color: #282864;
    top: -2px;
    left: 10px;
}

#configuracio h3 {
    font-size: 0.875rem;
    left: 40px;
    top: -15px;
    color: #282864;
    font-weight: 400;
}

#configuracio .indicacio {
    width: 390px;
    height: 80px;
    top: -113px;
}

#configuracio .indicacio p {
    text-align: right;
    font-size: 1.5rem;
    line-height: 7rem;
    color: #282864;
    opacity: 70%;
}

#configuracio h5 {
    font-size: 0.625rem;
    font-weight: 400;
    top: -130px;
    color: #282864;
    opacity: 70%;
}

#configuracio .utilitzacio {
    height: 210px;
}

#configuracio .coleccionat {
    height: 20px;
    top: -10px;
}

#configuracio .iconaCol {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/col·leccionat.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio h4 {
    font-size: 1rem;
    font-weight: 400;
    left: 12px;
    color: #282864;
}

#configuracio .arxivat {
    height: 20px;
    top: -15px;
}

#configuracio .iconaArx {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/contingut_arxivat.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .activitat {
    height: 20px;
    top: -20px;
}

#configuracio .iconaAct {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/la_teva_activitat.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .notificacions {
    height: 20px;
    top: -25px;
}

#configuracio .iconaNot {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/notificacions.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .arxivat {
    height: 20px;
    top: -15px;
}

#configuracio .iconaArx {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/contingut_arxivat.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .temps {
    height: 20px;
    top: -30px;
}

#configuracio .iconaTem {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/administració_de_temps.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .social {
    height: 173px;
}

#configuracio .comunitats {
    height: 20px;
    top: -10px;
}

#configuracio .iconaCom {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/comunitats.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .etiquetes {
    height: 20px;
    top: -15px;
}

#configuracio .iconaEt {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/etiquetes_mencions.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .comentaris {
    height: 20px;
    top: -20px;
}

#configuracio .iconaComent {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/filtratge_comentaris.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .amics {
    height: 20px;
    top: -25px;
}

#configuracio .iconaAm {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/seguir_invitar_amics.png);
    background-size: 97%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .altres {
    height: 173px;
}

#configuracio .interaccions {
    height: 20px;
    top: -10px;
}

#configuracio .iconaInt {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/limitar_interaccions.png);
    background-size: 97%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .silenciades {
    height: 20px;
    top: -15px;
}

#configuracio .iconaSil {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/comptes_silenciades.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .bloquejades {
    height: 20px;
    top: -20px;
}

#configuracio .iconaBlo {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/comptes_bloquejades.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .restringides {
    height: 20px;
    top: -25px;
}

#configuracio .iconaRes {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/comptes_restringides.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .veu {
    height: 138px;
}

#configuracio .preferencies {
    height: 20px;
    top: -10px;
}

#configuracio .iconaPref {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/preferències_contingut.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .ocultar {
    height: 20px;
    top: -15px;
}

#configuracio .iconaOcu {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/ocultar_quantitat_agrada.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .donacions {
    height: 20px;
    top: -20px;
}

#configuracio .iconaDon {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/donacions.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .app {
    height: 248px;
}

#configuracio .permissos {
    height: 20px;
    top: -10px;
}

#configuracio .iconaPerm {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/comunitats.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .accessibilitat {
    height: 20px;
    top: -15px;
}

#configuracio .iconaAcc {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/accessibilitat_traduccions.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .idioma {
    height: 20px;
    top: -20px;
}

#configuracio .iconaIdi {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/idioma.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .descarrega {
    height: 20px;
    top: -25px;
}

#configuracio .iconaDesc {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/arxiu_descàrrega.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .usdades {
    height: 20px;
    top: -30px;
}

#configuracio .iconaUs {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/dades_contingut.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .permissosweb {
    height: 20px;
    top: -35px;
}

#configuracio .iconaWeb {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/permissos_apps_webs.png);
    background-size: 98%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .mes {
    height: 176px;
}

#configuracio .mes p {
    left: -20px;
}

#configuracio .ajuda {
    height: 20px;
    top: -10px;
}

#configuracio .iconaAju {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/ajuda.png);
    background-size: 97%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .privacitat {
    height: 20px;
    top: -15px;
}

#configuracio .iconaPri {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/centre_privacitat.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .estatcompte {
    height: 20px;
    top: -20px;
}

#configuracio .iconaEstat {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/estat_compte.png);
    background-size: 92%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .informacio {
    height: 20px;
    top: -25px;
}

#configuracio .iconaInfo {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/informació.png);
    background-size: 97%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .altresfuncions {
    height: 48px;
}

#configuracio .modefosc {
    height: 20px;
    top: -10px;
}

#configuracio .iconaMode {
    width: 20px;
    height: 20px;
    background-image: url(../img/Configuració/mode_fosc.png);
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

#configuracio .tancar {
    height: 50px;
    top: 20px;
}

#configuracio .tancar p {
    font-size: 1rem;
    opacity: 100%;
    color: #F03C82;
}

#configuracio a {
    text-decoration: none;
}