#perfil  .contingut {
    overflow: hidden;
}

#perfil  .topbar {
    width: 430px;
    height: 50px;
    background: #282864;
}

#perfil .topbar p {
    color: white;
    font-size: 0.938rem;
    position: relative;
    top: 2px;
}

#perfil .topbar .configuracio {
    width: 34px;
    height: 36px;
    background-image: url(../img/configuració.png);
    background-size: 100%;
    position: fixed;
    position: relative;
    top: -32.5px;
    left: 380px;
}

#perfil .perfilnou {
    margin-top: 85px;
    margin-left: 20px;
}

#perfil .fotoprev {
    width: 92px;
    height: 92px;
    background-image: url(../img/fotopreview.png);
    background-size: 100%;
}

#perfil .perfilnou h3 {
    position: relative;
    top: -100px;
    left: 105px;
    font-size: 1.313rem;
    color: #282864;
}

#perfil .perfilnou p {
    font-size: 0.938rem;
    color: #282864;
    opacity: 30%;
    position: relative;
    top: -118px;
    left: 116px;
}

#perfil .perfilnou h4 {
    width: 248px;
    font-size: 0.938rem;
    color: #282864;
    position: relative;
    top: -135px;
    left: 116px;
    font-weight: 400;
}

#perfil .seguidors {
    width: 80px;
    height: 60px;
    margin-top: -140px;
    margin-left: 20px;
}

#perfil .seguidors h1 {
    font-size: 0.938rem;
    position: relative;
    left: -177px;
}

#perfil .seguidors h2 {
    font-size: 0.938rem;
    position: relative;
    top: -20px;
    color: #282864;
}

#perfil .seguits {
    width: 80px;
    height: 60px;
    margin-top: -70px;
    margin-left: 183px;
}

#perfil .seguits h1 {
    font-size: 0.938rem;
    position: relative;
    left: -185px;
}

#perfil .seguits h2 {
    font-size: 0.938rem;
    position: relative;
    top: -20px;
    color: #282864;
}

#perfil .agrada {
    width: 80px;
    height: 60px;
    margin-top: -70px;
    margin-left: 335px;
}

#perfil .agrada h1 {
    font-size: 0.938rem;
    position: relative;
    left: -185px;
}

#perfil .agrada h2 {
    font-size: 0.938rem;
    position: relative;
    top: -20px;
    color: #282864;
}

#perfil .editar {
    width: 100px;
    height: 30px;
    background: #00C8A0;
    border-radius: 4px;
    margin-left: 260px;
}

#perfil .editar p {
    color: white;
    font-size: 0.938rem;
    text-align: center;
    line-height: 2rem;
    margin-top: 5px;
}

#perfil .accions {
    width: 35px;
    height: 30px;
    background: #00C8A0;
    border-radius: 4px;
    margin-top: -35px;
    margin-left: 370px;
}

#perfil .accions p {
    color: white;
    font-size: 0.938rem;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 5px;
}

#perfil .perfilinteract {
    width: 390px;
    height: 400px;
}

#perfil .publicacions {
    width: 100px;
    height: 30px;
    margin-left: 20px;
    background: #282864;
    border-radius: 4px;
}

#perfil .publicacions p {
    color: white;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil .llistes {
    width: 58px;
    height: 30px;
    margin-left: 128px;
    border-radius: 4px;
    margin-top: -44px;
}

#perfil .llistes p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil .coleccions {
    width: 93px;
    height: 30px;
    margin-left: 195px;
    border-radius: 4px;
    margin-top: -44px;
}

#perfil .coleccions p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil .favorits {
    width: 93px;
    height: 30px;
    margin-left: 298px;
    border-radius: 4px;
    margin-top: -44px;
}

#perfil .favorits p {
    color: #282864;
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.8rem;
}

#perfil hr {
    border-top: 1px solid #282864;
    border-bottom: 0;
    width: 400px;
    margin-left: 15px;
    margin-top: 0px;
}

.posts {
    width: 390px;
    height: 500px;
    background: red;
    margin-left: 20px;
}