* {
    font-family: 'Carbona Test', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.cdnfonts.com/css/carbona-test');

html {
    width: 100%;
    height: 870px;
}

body {
    overflow-x: hidden;
}

#reptesantics {
    width: 100%;
    height: 870px;
}

.topbar {
    background: #282C63;
    position: fixed;
    height: 50px;
    top:0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 20px;
    float: left;
}

.NomArtiva {
    width: 78px;
    height: 23px;
    margin-top: 13px;
    margin-right: 43px;
    background-image: url(../img/Topbar_Principal/Artiva.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}

.Temps {
    padding-top: 6px;
    width: 159px;
    height: 44px;
    float: left;
    margin-right: 30px;
}

.compte {
    width: 43px;
    height: 27px;
    float: left;
    color: white;
    text-align: center;
    font-size: 0.70rem;
    font-family: 'Carbona Test', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.numero {
    width: 43px;
    height: 27px;
    color: white;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 1px;
}

.dies {
    padding-top: -30px;
    color: #00C8FF;
    font-size: 1.55rem;
}

.hores {
    color: #00C8A0;
    font-size: 1.55rem;
}

.minuts {
    color: #F03C82;
    font-size: 1.55rem;
    margin-right: 0px;
}

.Botiga {
    width: 25px;
    height: 31px;
    margin-top: 10px;
    margin-right: 23px;
    background-image: url(../img/Topbar_Principal/Icona_Botiga.png);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.Buscador {
    width: 30px;
    height: 31px;
    margin-top: 10px;
    background-image: url(../img/Topbar_Principal/Icona_Buscador.png);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.superior {
    height: 700px;
    top: 75px;
}

.superior h1 {
    font-size: 2.10rem;
    text-align: center;
    color: #282864;
    line-height: 2.3rem;
}

h3 {
    font-size: 0.813rem;
    text-align: center;
    line-height: 2.2rem;
    color: #282864;
}

.categories {
    width: 410px;
    height: 120px;
    margin: 0 auto;
    top: 25px;
}

.visual {
    width: 64px;
    height: 86px;
    left: 30px;
    float: left;
}

.catevisual {
    width: 64px;
    height: 64px;
    background: #282864;
    border-radius: 50%;
    background-image: url(../img/icon_v.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.sonor {
    width: 64px;
    height: 86px;
    left: 60px;
    float: left;
    opacity: 50%;
}

.catesonor {
    width: 64px;
    height: 64px;
    background: #F03C82;
    border-radius: 50%;
    background-image: url(../img/icon_s.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.tactil {
    width: 64px;
    height: 86px;
    left: 90px;
    float: left;
    opacity: 50%;
}

.catetactil {
    width: 64px;
    height: 64px;
    background: #00C8FF;
    border-radius: 50%;
    background-image: url(../img/icon_t.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.gustatiu {
    width: 64px;
    height: 86px;
    left: 120px;
    float: left;
    opacity: 50%;
}

.categustatiu {
    width: 64px;
    height: 64px;
    background: #00C8A0;
    border-radius: 50%;
    background-image: url(../img/icon_g.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.reptes {
    width: 360px;
    height: 570px;
    top: -445px;
    margin: 0 auto;
}

.portada {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    float: left;
}

h2 {
    font-size: 1.25rem;
    color: white;
    line-height: 2rem;
    left: 10px;
    top: 10px;
}

.reptes p {
    font-size: 0.875rem;
    color: #7676A5;
    font-weight: 600;
    top: 10px;
    left: 10px;
}

.companyerisme {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
}

.companyerisme .portada {
    background-image: url(../img/companyerisme.png);
    background-size: 100%;
    background-position: center;
}

.confiança {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.confiança .portada {
    background-image: url(../img/confiança.png);
    background-size: 100%;
    background-position: center;
}

.amistat {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.amistat .portada {
    background-image: url(../img/amistat.png);
    background-size: 100%;
    background-position: center;
}

.llibertat {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.llibertat .portada {
    background-image: url(../img/llibertat.png);
    background-size: 100%;
    background-position: center;
}

.frustracio {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.frustracio .portada {
    background-image: url(../img/frustració.png);
    background-size: 100%;
    background-position: center;
}

.botbar {
    position: fixed;
    height: 60px;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 20;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0px 30px;
}

.icona {
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    margin-top: 24px;
}

.PaginaReptes {background-image: url(../img/Botbar/Botbar_Reptes.png);
}

.home {
    margin-right: 59px;
    background-image: url(../img/Icones/Icona_Home.png);
}

.reptesClicada {
    margin-top: 15px;
    background-image: url(../img/Icones/Clicades/Icona_Reptes_Clicada.png);
    margin-right: 45px;
}

.publicar {
    width: 50px;
    height: 50px;
    margin-top: 4.5px;
    margin-right: 53px;
    background-image: url(../img/Icones/Icona_Publicar.png);
}

.comunitat {
    width: 33px;
    margin-right: 63px;
    background-image: url(../img/Icones/Icona_Comunitat.png);
}

.perfil {
    width: 30px;
    height: 30px;
    margin-top: -29px;
    background-image: url(../img/Icones/Icona_Perfil.png);
    margin-left: 75px;
}

#reptesonor {
    width: 100%;
    height: 870px;
}

.catevisual {
    width: 64px;
    height: 64px;
    background: #282864;
    border-radius: 50%;
    background-image: url(../img/icon_v.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
}