* {
    font-family: 'Carbona Test', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.cdnfonts.com/css/carbona-test');

html {
    width: 100%;
    height: 870px;
}

body {
    overflow-x: hidden;
}

#reptesantics {
    width: 100%;
    height: 870px;
}

.topbar {
    background: #282C63;
    position: fixed;
    height: 50px;
    top:0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 20px;
    float: left;
}

.NomArtiva {
    width: 78px;
    height: 23px;
    margin-top: 13px;
    margin-right: 43px;
    background-image: url(../img/Topbar_Principal/Artiva.png);
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
}

.Temps {
    padding-top: 6px;
    width: 159px;
    height: 44px;
    float: left;
    margin-right: 30px;
}

.compte {
    width: 43px;
    height: 27px;
    float: left;
    color: white;
    text-align: center;
    font-size: 0.70rem;
    font-family: 'Carbona Test', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.numero {
    width: 43px;
    height: 27px;
    color: white;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 1px;
}

.dies {
    padding-top: -30px;
    color: #00C8FF;
    font-size: 1.55rem;
}

.hores {
    color: #00C8A0;
    font-size: 1.55rem;
}

.minuts {
    color: #F03C82;
    font-size: 1.55rem;
    margin-right: 0px;
}

.Botiga {
    width: 25px;
    height: 31px;
    margin-top: 10px;
    margin-right: 23px;
    background-image: url(../img/Topbar_Principal/Icona_Botiga.png);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.Buscador {
    width: 30px;
    height: 31px;
    margin-top: 10px;
    background-image: url(../img/Topbar_Principal/Icona_Buscador.png);
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}

.superior {
    height: 700px;
    top: 75px;
}

.superior h1 {
    font-size: 2.10rem;
    text-align: center;
    color: #282864;
    line-height: 2.3rem;
}

h3 {
    font-size: 0.813rem;
    text-align: center;
    line-height: 2.2rem;
    color: #282864;
}

.categories {
    width: 410px;
    height: 120px;
    margin: 0 auto;
    top: 25px;
}

.visual {
    width: 64px;
    height: 86px;
    left: 30px;
    float: left;
    opacity: 100%;
}

.catevisual {
    width: 64px;
    height: 64px;
    background: #282864;
    border-radius: 50%;
    background-image: url(../img/icon_v.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.sonor {
    width: 64px;
    height: 86px;
    left: 60px;
    float: left;
    opacity: 50%;
}

.catesonor {
    width: 64px;
    height: 64px;
    background: #F03C82;
    border-radius: 50%;
    background-image: url(../img/icon_s.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.tactil {
    width: 64px;
    height: 86px;
    left: 90px;
    float: left;
    opacity: 50%;
}

.catetactil {
    width: 64px;
    height: 64px;
    background: #00C8FF;
    border-radius: 50%;
    background-image: url(../img/icon_t.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.gustatiu {
    width: 64px;
    height: 86px;
    left: 120px;
    float: left;
    opacity: 50%;
}

.categustatiu {
    width: 64px;
    height: 64px;
    background: #00C8A0;
    border-radius: 50%;
    background-image: url(../img/icon_g.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.reptes {
    width: 360px;
    height: 570px;
    top: -445px;
    margin: 0 auto;
}

.portada {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    float: left;
}

h2 {
    font-size: 1.25rem;
    color: white;
    line-height: 2rem;
    left: 10px;
    top: 10px;
}

.reptes p {
    font-size: 0.875rem;
    color: #7676A5;
    font-weight: 600;
    top: 10px;
    left: 10px;
}

.companyerisme {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
}

.companyerisme .portada {
    background-image: url(../img/companyerisme.png);
    background-size: 100%;
    background-position: center;
}

.confiança {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.confiança .portada {
    background-image: url(../img/confiança.png);
    background-size: 100%;
    background-position: center;
}

.amistat {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.amistat .portada {
    background-image: url(../img/amistat.png);
    background-size: 100%;
    background-position: center;
}

.llibertat {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.llibertat .portada {
    background-image: url(../img/llibertat.png);
    background-size: 100%;
    background-position: center;
}

.frustracio {
    width: 360px;
    height: 85px;
    background: #282864;
    border-radius: 10px;
    margin-top: 30px;
}

.frustracio .portada {
    background-image: url(../img/frustració.png);
    background-size: 100%;
    background-position: center;
}

#reptesonor {
    width: 100%;
    height: 870px;
}

#reptesonor .visual {
    width: 64px;
    height: 86px;
    left: 30px;
    float: left;
    opacity: 50%;
}

#reptesonor .sonor {
    width: 64px;
    height: 86px;
    left: 60px;
    float: left;
    opacity: 100%;
}

#reptesonor .tactil {
    width: 64px;
    height: 86px;
    left: 90px;
    float: left;
    opacity: 50%;
}

#reptesonor .reptes p {
    font-size: 0.875rem;
    color: #F9A7C8;
    font-weight: 600;
    top: 10px;
    left: 10px;
}

#reptesonor .companyerisme {
    width: 360px;
    height: 85px;
    background: #F03C82;
    border-radius: 10px;
}

#reptesonor .confiança {
    width: 360px;
    height: 85px;
    background: #F03C82;
    border-radius: 10px;
    margin-top: 30px;
}

#reptesonor .amistat {
    width: 360px;
    height: 85px;
    background: #F03C82;
    border-radius: 10px;
    margin-top: 30px;
}

#reptesonor .llibertat {
    width: 360px;
    height: 85px;
    background: #F03C82;
    border-radius: 10px;
    margin-top: 30px;
}

#reptesonor .frustracio {
    width: 360px;
    height: 85px;
    background: #F03C82;
    border-radius: 10px;
    margin-top: 30px;
}

#reptetactil {
    width: 100%;
    height: 870px;
}

#reptetactil .visual {
    width: 64px;
    height: 86px;
    left: 30px;
    float: left;
    opacity: 50%;
}

#reptetactil .sonor {
    width: 64px;
    height: 86px;
    left: 60px;
    float: left;
    opacity: 50%;
}

#reptetactil .tactil {
    width: 64px;
    height: 86px;
    left: 90px;
    float: left;
    opacity: 100%;
}

#reptetactil .reptes p {
    font-size: 0.875rem;
    color: #A1EDFF;
    font-weight: 600;
    top: 10px;
    left: 10px;
}

#reptetactil .companyerisme {
    width: 360px;
    height: 85px;
    background: #00C8FF;
    border-radius: 10px;
}

#reptetactil .confiança {
    width: 360px;
    height: 85px;
    background: #00C8FF;
    border-radius: 10px;
    margin-top: 30px;
}

#reptetactil .amistat {
    width: 360px;
    height: 85px;
    background: #00C8FF;
    border-radius: 10px;
    margin-top: 30px;
}

#reptetactil .llibertat {
    width: 360px;
    height: 85px;
    background: #00C8FF;
    border-radius: 10px;
    margin-top: 30px;
}

#reptetactil .frustracio {
    width: 360px;
    height: 85px;
    background: #00C8FF;
    border-radius: 10px;
    margin-top: 30px;
}

#reptegustatiu {
    width: 100%;
    height: 870px;
}

#reptegustatiu .visual {
    width: 64px;
    height: 86px;
    left: 30px;
    float: left;
    opacity: 50%;
}

#reptegustatiu .sonor {
    width: 64px;
    height: 86px;
    left: 60px;
    float: left;
    opacity: 50%;
}

#reptegustatiu .tactil {
    width: 64px;
    height: 86px;
    left: 90px;
    float: left;
    opacity: 50%;
}

#reptegustatiu .gustatiu {
    width: 64px;
    height: 86px;
    left: 120px;
    float: left;
    opacity: 100%;
}

#reptegustatiu .reptes p {
    font-size: 0.875rem;
    color: #81EFDA;
    font-weight: 600;
    top: 10px;
    left: 10px;
}

#reptegustatiu .companyerisme {
    width: 360px;
    height: 85px;
    background: #00C8A0;
    border-radius: 10px;
}

#reptegustatiu .confiança {
    width: 360px;
    height: 85px;
    background: #00C8A0;
    border-radius: 10px;
    margin-top: 30px;
}

#reptegustatiu .amistat {
    width: 360px;
    height: 85px;
    background: #00C8A0;
    border-radius: 10px;
    margin-top: 30px;
}

#reptegustatiu .llibertat {
    width: 360px;
    height: 85px;
    background: #00C8A0;
    border-radius: 10px;
    margin-top: 30px;
}

#reptegustatiu .frustracio {
    width: 360px;
    height: 85px;
    background: #00C8A0;
    border-radius: 10px;
    margin-top: 30px;
}

.botbar {
    position: fixed;
    height: 60px;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: 100%;
}
  
.icona {
    width: 7vw;
    height: 7vw;
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    background-position: center;
    margin: 5.3vw 6.5vw 0 6.5vw;
}

.PaginaReptes {
    background-image: url(../img/Botbar/Botbar_Reptes.png);
}

.home {
    background-image: url(../img/Icones/Icona_Home.png);
}

.reptesClicada {
    background-image: url(../img/Icones/Clicades/Icona_Reptes_Clicada.png);
    margin-top: 14px;
}

.invisible {
    background: transparent;
}

.comunitat {
    background-image: url(../img/Icones/Icona_Comunitat.png);
}

.perfil {
    background-image: url(../img/Icones/Icona_Perfil.png);
}

/* -------------- publicar ---------------- */

.publicar {
    position: relative;
    top: -53px;
    left: 215px;
    transform: translateX(-50%);
    width: 7vw;
    height: 7vw;
    background-image: url(../img/Icones/Icona_Publicar.png);
    background-position: center;
    z-index: 99999999999999999999;
    margin: 4vw -15px;
    transform: scale(140%);
    transform-origin: center;
}

input[type=checkbox]{
    visibility:hidden;
}
  
#alternador{
    z-index: -100;
}
  
#alternador label{
    width:7vw;
    height:7vw;
    border-radius:0.5rem;
    transition:all .5s ease;
    cursor:pointer;
    opacity:1;
}
  
#alternador input[type=checkbox]:checked+label{
    opacity:1;
}
  
#alternador input[type=checkbox]:checked+label~.quadreElegir{
    left:0rem;
}

.quadreElegir {
    width: 100%;
    height: 900px;
    margin: 0px;
    position: absolute;
    left:-500px;
    top: -800px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

.Opcions {
    width: 91%;
    height: 160px;
    background-color: #282C63;
    border-radius: 25px;
    margin: 0 auto;
    position: absolute;
    top: 560px;
    left: 20px;
}

.Tancar {
    width: 15px;
    height: 15px;
    background-image: url(../img/Publicar_Publicacio/Icona_Creu_Blanca.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 15px;
}

.Opcions p {
    margin-top: 0px;
    color: white;
    font-size: 1.30rem;
    text-align: center;
    font-weight: bolder;
    font-family: 'Carbona Test', sans-serif;
}

.Apartats {
    width: 30%;
    height: 120px;
    text-align: center;
    float: left;
    margin-left: 9.86%;
    margin-right: 9.86%;
}

.Individual {
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.Grupal {
    width: 100%;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
}

.Individual img {
    margin-top: 6px;
    width: 70%;
    height: 90%;
    text-align: center;
}

.Grupal img {
    margin-top: 8px;
    width: 100%;
    height: 90%;
    position: center;
}

.Icona {
    width: 64px;
    height: 64px;
    margin-bottom: 3px;
    margin: 0 auto;
    border-radius: 100%;
    text-align: center;
}